 .container.main-text {
           clear: both;
            margin-top: 100px;
        }

        .punchBox{
            width:400px;
            height:500px;
            background:#797979;
            margin:0px auto;
        }

        .punchBox ul{
          list-style-type: none;
        }

        .button-box{
          background:red;

        }

        .punchBox ul li{



        }

        .punchBox ul li a{
          height:75px;
          width:75px;
           background:#C0C0C0;
           float:left;
          margin-bottom:10px;
          margin-right:10px;
          font-size: 40px;
          text-align: center;
          line-height: 40px;
          padding-top:20px;
          border-radius: 10px;
        }

        .input input{
          width:95%;
          margin:10px;
          height:50px;
          border-radius:5px;
        }

        .input input:focus{
            background:#F0F0F0;
        }

        .img-container{
            width:710px;
            height:532px;
            border:5px solid red;
        }

        .img-slider{
          overflow: hidden;
        }

           .img-slider ul{
           list-style-type: none;
           padding:0px;
           position:relative;
           height:532px;
        }

          .img-slider ul li{
         float:left;
        }

#cycler{position:relative;}
#cycler img{position:absolute;z-index:1}
#cycler img.active{z-index:3}


.cycler{
  width:710px;
  height:533px;
  margin:0px auto;
}

footer{
  clear:both;
}